[mail.login]
# The IMAP server to connect to (you can find this information in your E-Mail client)
server = "my.mail.server"
# The port to connect to
port = 993

[mail.fetch]
# The mailboxes to fetch from the WRs you sent,
# you can also run `cargo run mailboxes` to get
# a list of all mailboxes you have.
wr_mailboxes = ["Sent"]
# The mailboxes to fetch from the WR replies you received.
# Usually you only need to fetch from the INBOX. However,
# if you have a rule that moves the WR replies to a
# different mailbox, you need to add it here.
re_mailboxes = ["INBOX"]
# The pattern to match the WR subject you sent.
# This will match all subjects that contain the
# strings "WR" OR "Weekly Report". This means that
# your Subject needs to be consistent over the years.
# Currently, you can only match at most two patterns
# (this is a limitation of the IMAP search query).
pattern = ["WR", "Weekly Report"]
# From which mail address you sent the WRs
from = "my_username@my.mail.server"
# To which mail address you sent the WRs
to = "theboss@my.mail.server"
# The year to fetch the WRs from
year = 2023
