:root {
  /* --color-1: #22092C;
  --color-2: #872341;
  --color-3: #BE3144;
  --color-4: #F05941; */
  --text-grey: #a3a3a3;
  --highlight-grey: #d2d2d2;
}

.palette-default {
  --color-1: #143F6B;
  --color-2: #F55353;
  --color-3: #FEB139;
  --color-4: #F6F54D;
}

.palette-2023 {
  --color-1: #22092C;
  --color-2: #872341;
  --color-3: #BE3144;
  --color-4: #F05941;
}

.palette-2022 {
  --color-1: #0E131F;
  --color-2: #38405F;
  --color-3: #59546C;
  --color-4: #FF0035;
}

.palette-2021 {
  --color-1: #3A506B;
  --color-2: #6C22A6;
  --color-3: #5BC0BE;
  --color-4: #6FFFE9;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  height: 100vh;
  margin: 0;
  padding: 40px;
  overflow: hidden; /* This disables scrolling */
  box-sizing: border-box;
  background-image: radial-gradient(ellipse at 62% 37%, var(--color-3) 0%, var(--color-2) 20%, var(--color-1) 90%);
}

.tile {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 10px;
  color: white;
  border-radius: 20px;
}

.metric {
  background: rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.metric:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px #663815 90%;
  background: rgba(0, 0, 0, 0.4);
}

#wrapped-tile {
  background: rgba(0, 0, 0, 0.7);
  grid-column: 5 / 7;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}

.highlighted-numbers {
  font-size: 5vw;
  font-weight: bold;
  background: -webkit-linear-gradient(90deg, var(--color-3), var(--color-4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tile-text {
  font-size: 1.3vw;
  color: var(--text-grey);
  font-weight: bold;
}

#wrapped-tile .wrapped-highlight {
  font-size: 5vw;
  font-weight: bold;
  background: -webkit-linear-gradient(left, var(--color-2), var(--color-4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#wrapped-tile .wrapped-normal {
  font-size: 3.5vw;
  color: rgb(180, 180, 180);
  font-weight: bold;
}

#wrapped-year {
  font-size: 2vw;
  color: rgb(120, 120, 120);
  font-weight: bold;
}

#num-wrs-tile {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#num-skipped-wrs-tile {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#avg-delay-tile {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#reply-ratio-tile {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

#reply-ratio-container {
  position: relative;
  width: 100%;
  height: 80%;
}

#progress-circle {
  width: 100%;
  height: 100%;
}

#ratio-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  pointer-events: none;
}

#reply-ratio-text {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-text {
  position: relative;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#weekday-tile {
  grid-column: 1 / 4;
  grid-row: 3 / 5;
}

#weekday-chart-container {
  position: relative;
  width: 100%;
  height: 85%;
}

#timeofday-tile {
  grid-column: 4 / 7;
  grid-row: 3 / 5;
}

#timeofday-chart-container {
  position: relative;
  width: 100%;
  height: 85%;
}

#cc-leaderboard-tile {
  grid-column: 7 / 9;
  grid-row: 1 / 5;
}

#cc-list {
  padding: 0;
  height: 90%;
  list-style: none;
}

#cc-title {
  padding: 0;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes flipIn {
  0% {
      transform: perspective(200px) rotateX(90deg);
      opacity: 0;
  }
  100% {
      transform: perspective(200px) rotateX(0deg);
      opacity: 1;
  }
}

#cc-list li {
  animation: flipIn 0.5s ease forwards;
  opacity: 0;
  transform-origin: top;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 10%;
}

.cc-list-place {
  width: 20%;
  height: 100%;
  display: inline-block;
  color: var(--text-grey);
  font-weight: bold;
  font-size: 1.6vw;
  text-align: center;
}

.cc-list-username {
  width: 50%;
  height: 100%;
  display: inline-block;
  background: -webkit-linear-gradient(90deg, var(--color-2), var(--color-4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 1.8vw;
  font-weight: bold;
  text-align: left;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.cc-list-count {
  width: 30%;
  height: 100%;
  display: inline-block;
  font-size: 1.4vw;
  color: var(--text-grey);
  font-weight: bold;
}
